.content {
    display: flex;
    height: calc(100vh - 78px);
}

.tool-bar {
    display: flex;
    flex-direction: column;
    background-color: rgba(1, 9, 70, 0.8);
    text-align: center;
    justify-content: space-evenly;
    padding: 0.5rem;
    box-shadow: 0rem .1875rem .625rem rgba(0,0,0,0.5);
}

.tool-bar button {
    font-size: 1rem;
    font-weight: 400;
    color: white;
    cursor: pointer;
    border: none;
    background: none;
}

.barra-saldo {
    display: flex;
    background-color: rgba(1, 9, 70, 0.8);
    text-align: center;
    justify-content: space-between;
    padding: 0.5rem;
    color: white;
    box-shadow: 0rem .1875rem .625rem rgba(0,0,0,0.5);
    margin-top: 1.8rem;
}

.inputSubmit {
    cursor: pointer;
}

.inputSubmitCancelar {
    cursor: pointer;
}

.movimentacoes {
    height: 100%;
    width: 100%;
}

.table-mov {
    border-collapse: collapse;
    border: none;
    width: 100%;
    text-align: center;
    color: white;
}

.table-mov thead {
    background-color: rgba(1, 9, 70, 0.7);
}

.table-mov tbody {
    background-color: rgba(1, 9, 70, 0.5);
}

td, th{
    border-bottom: 1px solid #ddd;
    padding: 5px;
}