header {
    height: 50px;
    background-color: rgb(1, 9, 70);
    box-shadow: 0rem .1875rem .625rem rgba(0,0,0,0.5);
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    padding: .625rem 2rem;
}

.logo {
    display: flex;
    align-items: center;
    color: white;
    cursor: default;
}

.nav-list {
    display: flex;
    align-items: center;
}

.nav-list ul {
    display: flex;
    justify-content: center;
    list-style: none;
}

.nav-item {
    margin: 0 1rem;
}

.nav-link {
    text-decoration: none;
    font-size: 1rem;
    color: white;
    font-weight: 400;
}

.sair-button{
    display: flex;
    justify-content: center;
    align-items: center;
}

.sair-button a {
    text-decoration: none;
    color: white;
    font-weight: 700;
    font-size: 1.5rem;
}

.mobile-menu-icon button {
    background: none;
    border: none;
    color: white;
}

.mobile-menu-icon-close button {
    background: none;
    border: none;
    color: white;
}

.icon {
    transform: rotate(90deg);
}

.mobile-menu-icon {
    display: none;
}

.mobile-menu-icon-close {
    display: none;
}

.mobile-menu {
    display: none;
}

@media screen and (max-width: 730px) {
    .nav-item {
        display: none;
    }

    .sair-button {
        display: none;
    }


    .mobile-menu-icon {
        display: block;
    }

    .mobile-menu-icon button {
        cursor: pointer;
    }    
    
    .mobile-menu ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 1rem;
    }

    .mobile-menu .nav-item {
        display: block;
        padding-top: 1.25rem;
    }
    
    .mobile-menu .sair-button {
        display: block;
        padding: 1rem 1rem;
    }

    .mobile-menu .sair-button button {
        width: 100%;
    }
    
    .open {
        display: block;
    }

    .close {
        display: none;
    }
}