header{
    background-image:linear-gradient(to top, rgb(2, 18, 141), rgb(1, 9, 70));
    width: 100%;
    display: flex;
    flex-direction: column;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
a.logo{
    font-size: 14px;
    color: white;
}
a.logo#logo-nome{
    font-weight: bold;
}
.icon-sair{
    display: flex;
    color: white;
    right: 1%;
}
.navbar{
    padding: 0 10px 10px 10px;
    display: flex;  
    flex-direction: row;
    gap: 20px;
    width: 100%;
    justify-content: center;
}
.icon{
    color: white;
}
@media screen and (width: 175%) {
    header {
        font-size: 14px;
    }
}