.content{
    display: flex;
    align-items: center;
    min-height: 87%;
}
.fieldset{
    padding: 1%;
    margin: 0 15% 0 15%;
}
.box-apresentacao h1{
    text-align: center;
    font-size: 45px;
}
.box-apresentacao  h2{
    text-align: center;
    padding-bottom: 50px;
    font-size: 24px;
}
.box-apresentacao  p{
    text-align: justify;
    font-size: 20px;
    padding-bottom: 10px;
}
.box-apresentacao  ul{
    padding-left: 40px;
    font-size: 20px;
}
.box-apresentacao li{
    padding-bottom: 10px;
}