.content{
    display: flex;
    align-items: center;
    padding: 1% 10% 0 10%;
}
.fieldset{
    padding: 1%;
    margin: 0 10% 1% 10%;
}
.box-apresentacao h1{
    text-align: center;
    font-size: 45px;
}
.box-apresentacao  h2{
    text-align: center;
    padding-bottom: 50px;
    font-size: 24px;
}
.box-apresentacao  p{
    text-align: justify;
    font-size: 20px;
    padding-bottom: 10px;
}
.box-apresentacao  ul{
    padding-left: 40px;
    font-size: 20px;
}
.box-apresentacao li{
    padding-bottom: 10px;
}