.content{
    display: flex;
    align-items: center;
    min-height: 87%;
}
.form{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 1% 0 1% 0;
}
.fildset{
    padding: 1% 0 2% 0;
    width: 400px;
}
.h1{
    font-size: 40px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
input{
    padding-left: 5px;
    width: 80%;
    color: gray;
    margin-bottom: 1%;
}
input:focus{
    outline: none;
    color: rgb(0, 153, 255);
}
input::placeholder {
    font-size: 15px;
}
.inputUser{
    border-top: none;
    border-left: none;
    border-right: none;
}
.inputSubmit{
    margin-bottom: 2%;
    border: none;
    background-color: rgba(0, 190, 0);
    border-radius: 5px;
    color: rgba(255, 255, 255);
    font-weight: bold;
    height: 40px;
    font-size: 20px;
    cursor: pointer;
}
.inputSubmit:hover{
    transition: 0.4s;
    background-color: rgba(0, 190, 0, 0.7);
    color: rgb(255, 255, 255, 0.7);
}
.btn-voltar{
    padding: 10px;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    height: 40px;
    font-size: 20px;
    background-color: rgb(0, 153, 255);
    cursor: pointer;
}
.btn-voltar:hover{
    transition: 0.4s;
    background-color: rgb(0, 153, 255, 0.7);
    color: rgba(255, 255, 255, 0.7);
}
