.content{
    display: flex;
    align-items: center;
    height: 89vh;
}
.fieldset{
    padding: 1rem;
    margin: 5% 5%;
}
.box-apresentacao h1{
    text-align: center;
    font-size: 2.8125rem;
}
.box-apresentacao  h2{
    text-align: center;
    padding-bottom: 3.125rem;
    font-size: 1.5rem;
}
.box-apresentacao  p{
    text-align: justify;
    font-size: 1.25rem;
    padding-bottom: .625rem;
}
.box-apresentacao  ul{
    padding-left: 2.5rem;
    font-size: 1.25rem;
}
.box-apresentacao li{
    padding-bottom: .625rem;
}

@media screen and (max-width: 730px) {
    html {
        font-size: 75%;
    }
    .fieldset {
        width: 83%;
    }
}